


table tr td,table tr th{border:1px solid #e5e5e5;text-align: center;height: 38px;line-height: 38px; }
table tr td a.cart{width: 84px;height: 26px;line-height: 26px;color: #39a817;border: 1px solid #dddddd;text-align: center;display: block;margin:10px 0 0 20px ;*margin-left: 10px;}
table tr td a.cancel{color: #999999;}

table{margin-top: 10px;border: 1px solid #e5e5e5;width: 982px;color:#666666;}
table tr td,table tr th{text-align: center;height: 38px;line-height: 38px; position: relative;}
table tr th{background-color: #f5f5f5;border-bottom: 1px solid #e5e5e5;}

table tr.hover{background-color: #fbfbfb;}
table tr td .num{color: #cf0000;padding: 0 5px;}
.al_right{text-align: right;padding-right: 10px;}
.al_right p.balance{color: #FF6102;}

.table1 .tb1_td1{width: 135px;}
.table1 .tb1_td2{width: 120px;}
.table1 .tb1_td3{width: 120px;}
.table1 .tb1_td4{width: 160px;}
.table1 .tb1_td5{width: 165px;}
.table1 .tb1_td6{width: 130px;}

table tr td img{margin: 10px 10px 10px 20px;float: left;width: 32px;height: 62px;}
table tr td .name{float: left;margin-top: 20px;}
table tr td.tb2_td1{width: 135px;}
table tr td.tb2_td2{width: 120px;}
table tr td.tb2_td3{width: 120px;}

.con_left{margin-top: 26px;padding-left: 15px;width: 200px;float: left;}
.con_left .submit{width: 82px;height: 25px;border: 1px solid #dddddd;text-align: center;line-height: 25px;color: #39a817;background-color: #fff;margin-right: 15px;*margin-right: 10px;}
.con_left .cancel{color: #999999;}


.collaboration_unit{margin-top: 0px;}
.more{margin-top: 5px;}
