

/*主体部分样式开始*/





.content_box{margin-top: 10px;border: 1px solid #e5e5e5;}
.content_box h4{height: 38px;line-height: 38px;border-bottom:1px solid #e5e5e5;background-color: #f5f5f5;text-indent: 12px; }
.content_box .content{padding: 14px;}
.content_box .content p{height: 24px;line-height: 24px;}
.content_box .content p .box{padding-right: 10px;}



/*主体部分样式结束*/

.collaboration_unit{margin-top: 0px;}
.more{margin-top: 5px;}
