


/*新增的样式开始*/
.main_right1{width: 984px;float: right;}
.main_right1 table{border: 1px solid #e7e7e7;width: 984px;margin-top: 10px;}
.main_right1 table tr th{background-color: #f5f5f5;color: #39a817;text-indent: 40px;height: 36px;line-height: 36px;text-align: left;}
.main_right1 table tr td{height: 36px;line-height: 36px;border: 1px solid #e7e7e7;padding-left: 10px;color:#666666;position: relative;}
.main_right1 table tr td.al_right{text-align: right;}
.main_right1 table tr td.tb1_td1{width: 230px;}
.main_right1 table tr td a{color: #39a817;}
.main_right1 table tr td.com{padding-right: 30px;}
.main_right1 table tr td .price{color: #FF6102;}
.main_right1 .table2{text-align: center;}
.main_right1 table tr.title{font-weight: bold;}
.main_right1 .table2 tr .tb2_td1{width: 290px;}
.main_right1 .table2 tr .tb2_td2{width: 135px;}
.main_right1 .table2 tr .tb2_td3{width: 110px;}
.main_right1 .table2 tr .tb2_td4{width: 145px;}

.main_right1 .table4 tr .tb4_td1{width: 140px;}
.main_right1 .table4 tr .tb4_td2{width: 350px;}
.main_right1 .table4 tr .tb4_td3{width: 140px;}

.main_right1 .table6 tr .tb6_td1{width: 140px;}
.main_right1 .table6 tr .tb6_td2{width: 610px;}
/*新增的样式结束*/
.J_payonline {width: 90px;height:36px;color: #fff;text-align: center;line-height: 26px;background-color: #33cc33;border-radius: 5px;font-size: 16px;position:absolute;left:100px;top:7px;margin:0px;cursor:pointer;}

.payonline_notice:hover {text-decoration:underline;}

.submit_1 {padding: 3px 15px;background: url("../images/bt_bg.jpg");color: #fff;cursor: pointer;}

/*主体部分样式结束*/




/*底部样式结束*/
.collaboration_unit{margin-top: 0px;}
.more{margin-top: 5px;}
