/*鍐呭*/

body {
	background-color: #f0f6fc;
}

.site-content {
	overflow: hidden;
	color: #444;
	font-size: 14px;
}

.content-container {
	width: 1200px;
	margin: 30px auto;
	position: relative;
	z-index: 0;
	border: 1px solid #e5e5e5;
	background: white;
}

#register {
	padding-bottom: 20px;
	padding-left: 380px;
	overflow: hidden;
	position: relative;
	z-index: 5
}

.site-content label,
.pass_safe,
.reg_other,
.user-type-radio,
.choose-area {
	display: block;
	width: 660px;
	margin-top: 15px;
	line-height: 30px;
	position: relative;
}

.site-content .input-box-before,
.pass_safe span {
	width: 80px;
	float: left;
	text-align: right;
	-moz-float: none;
	display: inline;
	line-height: 33px
}


/*input閫氱敤*/

.site-content input {
	clear: both;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 6px 5px;
	font-size: 13px;
	margin: 0;
	display: inline;
	*vertical-align: middle;
	*clear: none;
}


/*杈撳叆妗嗛€氱敤*/

.input_box input {
	width: 310px
}


/*涓嬫媺妗嗛€氱敤*/

.site-content select {
	outline: none;
	margin: 0;
	border-radius: 2px;
	border: 1px solid #999;
}


/*閭*/

.email_label {
	position: relative;
	z-index: 5
}

.cemail {
	display: none;
	position: absolute;
	width: 320px;
	left: 80px;
	background-color: #fff;
	border: 1px solid #ccc;
	z-index: 10;
	*top: 33px;
}

.cemail ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cemail ul li {
	line-height: 25px;
	padding: 0 5px;
	color: #333;
	cursor: pointer;
	overflow: hidden
}


/*閫夋嫨鍦板尯*/

.choose_area .area {
	display: inline;
}


/*鐢ㄦ埛绫诲瀷*/

.site-content .user-type {
	border: 0;
	vertical-align: middle;
	position: relative;
	margin: -3px 5px 0 0;
	_margin: 7px 0;
}

.site-content .user-type:first-of-type {
	margin-left: 0;
	clear: both
}

.user-type-radio .user-types {
	display: inline;
	margin-left: 10px;
}


/*杈撳叆妗嗘彁绀�*/

.input_box .prompt2,
.area .prompt2 {
	width: 300px;
	color: #666;
	margin-left: 20px;
	position: absolute;
	left: 70px;
	top: 2px;
}

.input_box .margin_problem,
.area .margin_problem {
	*display: block;
	*margin: -30px 0 0 500px
}


/*瀵嗙爜寮哄害*/

.pass_safe p {
	display: inline-block;
	padding: 5px 6px 5px 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 5px;
	*width: 220px;
}

.pass_safe .safe_level {
	width: 68px;
	height: 10px;
	background-color: #ccc;
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	margin-right: 5px
}


/*鐢ㄦ埛鍗忚澶嶉€夋*/

.agree {
	line-height: 30px;
	height: 30px;
}

.agree input {
	margin-right: 5px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	border: 0;
	margin-top: -4px;
	*margin-top: 3px
}

.agree a {
	color: #EC3701;
}

.agree a:hover {
	color: #e70000;
	text-decoration: none;
}


/*娉ㄥ唽*/

#submit {
	width: 220px;
	cursor: pointer;
	height: 30px;
	border: 0;
	margin: 10px 0 0 80px;
	display: block;
}

.want_login {
	margin-right: 10px
}

.reg_other a {
	color: #ec3701;
}

.reg_other a.want_login {
	color: #ec3701;
}

.reg_other a:hover {
	text-decoration: underline;
}


/*鍏抽棴娉ㄥ唽*/

.usBox_2 {
	background: #fff;
	text-align: left;
	padding: 200px 153px 200px 123px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

*html .clearfix {
	height: 1%;
}

*+html .clearfix {
	height: 1%;
}

.f1 {
	color: #ff6666;
}

.f5 {
	font-size: 14px;
	font-weight: bold;
}

.choose_address {
	margin-top: 18px;
	position: relative;
	z-index: 2;
}

.choose_address .ca_tip {
	display: block;
	float: left;
	width: 80px;
	text-align: right;
	margin-top: 5px;
}

.choose_address .select {
	width: 80px;
	height: 20px;
	border: 1px solid #d7d5d5;
	float: left;
	margin-right: 20px;
	line-height: 20px;
	position: relative;
}

.choose_address .select_options {
	border: 1px solid #d7d5d5;
	background-color: #fff;
	color: #000;
	margin-top: 0;
	height: 140px;
	overflow: auto;
	display: none;
	position: absolute;
	left: -1px;
	top: 21px;
	width: 80px;
}

.choose_select i {
	position: absolute;
	width: 14px;
	height: 16px;
	top: 2px;
	right: 0;
	background: url("../images/yonghu.png") -80px -34px no-repeat;
	overflow: hidden;
}

.hide {
	display: none;
}

.input_box .prompt,
.area .prompt,
.choose_address .prompt {
	width: 300px;
	color: #666;
	margin-left: 5px;
	color: #ff0000;
}

.prompt-bg {
	background: url("../images/tip2.jpg") no-repeat;
	padding-left: 24px;
}

.border-blue {
	border: 1px solid #9ece7b !important
}

.select_choose span {
	padding-left: 10px;
}

.choose_address .select_options li {
	padding-left: 10px;
}
#submit{
	width: 322px;
	height: 31px;
	background: #83a6f5;
	color: white;
	line-height: 31px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
